body{
  width: 100%;
  position: relative;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background: linear-gradient(to right, darkgreen, orange);
  }
  
  .titulo {
    width: 100%;
    font-size: 50px;
    text-align: center ;
  }
  
  .buscador {
    position: absolute;
    right: 30px ;
    padding-right: 30px ;
    
  }

  