/* Asegúrate de que el body no tenga cosas raras */
body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: sans-serif;
}


.header {
  width: 100%;
  background: linear-gradient(to right, darkgreen, orange);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

.logo {
  max-width: 390px;
  height: auto;
}



.titulo {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}


img {
  max-width: 400px; /* o el tamaño que quieras */
  height: auto;
}
