<div class="profile-container">
    <div class="profile-header">
      <div class="profile-image">
        <img src="../../../../imagenes/foto-perfil.jpeg" alt="foto-perfil">
      </div>
      <div class="profile-details">
        <h2>Pablo del Viso</h2>
        <p> Pabl0</p>
      </div>
    </div>
    <div class="profile-actions">
      <button class="action-button">Editar Perfil</button>
      <button class="action-button">Configuración</button>
    <button class="action-button">Cerrar Sesión</button>
    </div>
    <div class="profile-info">
      <div class="info-item">
        <span class="info-title">Reseñas</span>
        <span class="info-value">45</span>
      </div>
      <div class="info-item">
        <span class="info-title">Likes</span>
        <span class="info-value">128</span>
      </div>
      <div class="info-item">
        <span class="info-title">Seguidores</span>
        <span class="info-value">12</span>
      </div>
    </div>
  </div>
  