<div class="login-container">
  <div class="login-box">
    <h2 class="text-xl">Iniciar sesión</h2>

    <form (ngSubmit)="iniciarSesion()" [formGroup]="loginForm">
      <label for="email">Email</label>
      <input id="email" type="text" formControlName="email" placeholder="Introduce tu email" />

      <label for="password">Contraseña</label>
      <input type="password" formControlName="password" />

      @if (loginError()) {
        <p class="error">Email o contraseña incorrectos</p>
      }

      <button type="submit" >Entrar</button>
    </form>

    <div class="acciones">
      <button type="button" (click)="crearCuenta()">Crear cuenta</button>
      <!-- <button type="button" (click)="recuperarClave()">He olvidado la contraseña</button> -->
    </div>
  </div>
</div>
