<nav class="menu-container">
  <ul class="menu-list">
   
    
    
   
  </ul>

  <div class="buscador">
 <input 
  type="text"
  placeholder="Buscar negocios..."
  (input)="filtrarNegocios($event)" />




  <ul *ngIf="resultados?.length">
    <li *ngFor="let negocio of resultados" (click)="irANegocio(negocio.id)">
      {{ negocio.nombre }}
    </li>
  </ul>
</div>

</nav>

<!-- <div class="perfil-boton">
  <button class="perfil-usuario" routerLink="/perfil-usuario">Perfil</button>
</div>

<div class="ajustes-boton">
  
  <button class="buscar-button" routerLink="/ajustes">Ajustes</button>
</div> -->
