<!-- Botón para volver -->
<!-- <button class="btn-volver">← Volver</button> -->

<div class="usuario-container">
  <!-- Botón de editar -->
  <!-- <button class="btn-editar">Editar perfil</button> -->

 <div class="info-perfil">
  <img [src]="usuarioLogueado()?.foto_perfil || '../../../../assets/imagenes/rana1_profile_foto.png'" alt="Foto de perfil" class="foto-usuario" />

  <div class="datos-usuario">
    <h2>{{ usuarioLogueado()?.nombre || 'Nombre no disponible' }}</h2>
    <p class="nickname">&#64; {{ usuarioLogueado()?.nickname || 'sin_nickname' }}</p>
    <p class="bio">{{ usuarioLogueado()?.biografia || 'Este usuario aún no ha escrito una biografía.' }}</p>
  </div>
</div>


  <section *ngIf="resenas().length > 0">
  <h3>Mis Reseñas</h3>
  <div class="tarjeta-resena" *ngFor="let resena of resenas()">
  <div class="encabezado">
    <span class="estrella">⭐ {{ resena.puntuacion }}</span>
    <span class="fecha">📅 {{ resena.fecha | date:'mediumDate' }}</span>
  </div>

  <div class="comentario">
    <p>{{ resena.comentario || 'Sin comentario' }}</p>
  </div>

  <div class="extra">
    <span class="negocio">🛍️ Publicado en <strong>{{ resena.negocio?.nombre }}</strong></span>
    <span *ngIf="resena.selloNenufar" class="sello">🌿 ¡Con sello Nenúfar!</span>
  </div>
</div>
</section>

<section *ngIf="resenas().length === 0">
  <h3>Mis Reseñas</h3>
  <p class="empty-copy">Todavía no has dejado ninguna reseña.</p>
</section>



 <section>
  <h3>Mis Reservas</h3>
  <div class="reserva" *ngFor="let r of reservas()">
    <p>📅 {{ r.fecha?.split('T')[0] }} · {{ r.fecha?.split('T')[1]?.substring(0,5) }}h en {{ r.negocio?.nombre }}</p>
  </div>
</section>

</div>
