@if (mostrarRutaIndependiente()) {
  <router-outlet></router-outlet>
} @else if (!mostrarApp()) {
  <!-- Estanque pantalla completa -->
  <div class="pantalla-landing">
    <app-estanque></app-estanque>
  </div>
} @else {
  @if (!ocultarLayout()) {
    <app-header></app-header>
  }

  <div
    class="container"
    [class.container--with-header]="!ocultarLayout()"
    [class.container--no-scroll]="bloquearScroll()"
  >
    @if (!ocultarMenu()) {
      <!-- <app-menu></app-menu> -->
    }
    <div
      class="content"
      [class.content--no-scroll]="bloquearScroll()"
      [class.content--scrollable]="!bloquearScroll()"
    >
      <router-outlet></router-outlet>
    </div>
  </div>

  @if (!ocultarLayout()) {
    <!-- <app-footer></app-footer> -->
  }
}
