<div id="reviews">
    <h1>Reseñas</h1>
    <div class="review-container">
      <div class="review">
        <h2>Hungryman</h2>
        <p class="review-date">Fecha: 01/07/2024</p>
        <p class="review-rating">Valoración: ★★★★☆</p>
        <p class="review-local">Local: Cafetería La Plaza</p>
        <p class="review-text">
          Me encantó la atención y la calidad del café. Definitivamente volveré.
        </p>
        <button class="like-btn">Like</button>
      </div>
      <div class="review">
        <h2>Pabl0</h2>
        <p class="review-date">Fecha: 25/06/2024</p>
        <p class="review-rating">Valoración: ★★★★★</p>
        <p class="review-local">Local: Restaurante El Buen Sabor</p>
        <p class="review-text">
          Excelente comida y ambiente. Recomiendo el menú del día.
        </p>
        <button class="like-btn">Like</button>
      </div>
  
    </div>
    <button class="floating-btn" (click)="addReview()">+</button>
  </div>
  