<div class="sidenav-container">
    <div class="sidenav">
      <nav class="nav-list">
        <div class="list-item">
          <button class="menu-button" routerLink="/usuario">
            <span class="icon">👤</span> Perfil
          </button>
        </div>
        <div class="list-item">
          <button class="menu-button" routerLink="/reviews">
            <span class="icon">📝</span> Reseñas
          </button>
        </div>
        <div class="list-item">
          <button class="menu-button" routerLink="/likes">
            <span class="icon">👍</span> Likes
          </button>
        </div>
        <div class="list-item">
          <button class="menu-button" routerLink="/promociones">
            <span class="icon">🏷️</span> Promociones
          </button>
        </div>
        <div class="list-item">
          <button class="menu-button" routerLink="/ajustes">
            <span class="icon">⚙️</span> Configuración
          </button>
        </div>
      </nav>
    </div>
  </div>
  