.sidenav-container {
    height: 100%;
    display: flex;
  }
  
  .sidenav {
    width: 250px;
    background-color: #087b04;
    padding-top: 20px;
  }
  
  .nav-list {
    list-style-type: none;
    padding: 0;
  }
  
  .list-item {
    padding: 10px;
  }
  
  .menu-button {
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    border: none;
    background: none;
    text-align: left;
    cursor: pointer;
  }
  
  .menu-button .icon {
    margin-right: 10px;
  }
  
  .menu-button:hover {
    background-color: #4c9e20;
  }
  