@import './styles.css';
@import './base.css';

:root {
  --color-primario: #66B6E4;         /* azul claro - fondo principal */
  --color-secundario: #f6b93b;       /* naranja (gradiente header/footer) */
  --color-secundario-oscuro: #f5c870;/* naranja claro (fondos encuestas) */
  --color-verde: #6ab04c;            /* verde brillante - parte del header/footer */
  --color-verde-claro: #a7e18e;      /* verde claro (encuesta 2) */
  --color-boton-verde: #019940;      /* verde botón */
  --color-boton-verde-hover: #27ae60;
  --color-borde: #3498db;            /* azul intenso - bordes y detalles */
  --color-fondo-blanco: #ffffff;
  --color-texto-negro: #1d1d1d;

  /* Tipografía */
  --fuente-principal: 'Segoe UI', sans-serif;
  --fuente-secundaria: 'Inter', sans-serif;

  /* Transiciones */
  --transicion-suave: all 0.3s ease;
}



body{
    background-color: rgb(82, 183, 234);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Asegura que el body ocupe toda la altura de la ventana */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Asegura que el contenido principal tome todo el espacio disponible */
  main {
    flex: 1;
  }
  
  /* Footer */
  footer {
    width: 100%;
    background-color: #556b2f; /* Color de fondo del footer */
    color: white;
    padding: 20px;
    text-align: center;
    position: relative;
  }

  html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }
  